( ((pt>5 && (abs(pdgId) == 11 || abs(pdgId) == 13)) || pt > 10) 
    && (abs(pdgId) < 15 || abs(eta) < 2.5) 
    && ((abs(dxy) < 0.2 && abs(dz) < 0.1) || pt>15) 
    && (  (pfIsolationDR03().chargedHadronIso < 5 && pt < 25) || pfIsolationDR03().chargedHadronIso/pt < 0.2)) and lepton veto